# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/android

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

#fichier important
/AndroidManifest.xml
public/mbtiles/*
npx cap add android.txt
.vscode/extensions.json
/.vscode
*.bat
package-lock.json
package-lock.json
package.json
package-lock.json
icons/icon-128.webp
icons/icon-192.webp
icons/icon-256.webp
package.json
icons/icon-128.webp
icons/icon-192.webp
icons/icon-256.webp
icons/icon-48.webp
icons/icon-128.webp
icons/icon-192.webp
icons/icon-256.webp
icons/icon-48.webp
icons/icon-512.webp
icons/icon-72.webp
icons/icon-96.webp
package.json