.search-header {
  display: flex;
  align-items: center;
  gap: 8px; /* espace entre le bouton et le champ */
}

.search-header ion-searchbar {
  flex: 1;
  --background: #f0f0f0;      /* fond */
  --color: #000;              /* texte */
  --placeholder-color: #999;  /* placeholder */
  --icon-color: #666;         /* icône */
  --border-radius: 20px;      /* arrondi */
  --box-shadow: none;         /* supprime l’ombre */
}
