/* ==================== */
/* Safe Area Variables  */
/* ==================== */

/* Valeurs par défaut pour le web/non-support */
:root {
  --ion-safe-area-top: 0px;
  --ion-safe-area-bottom: 0px;
  --ion-safe-area-left: 0px;
  --ion-safe-area-right: 0px;
  --ion-color-primary: rgb(27, 79, 114);
  --ion-color-primary-rgb: 27, 79, 114;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1b3f5a;
  --ion-color-primary-tint: #2a5f8a;
}

/* Support natif pour les appareils iOS */
@supports (padding-top: constant(safe-area-inset-top)) {
  :root {
    --ion-safe-area-top: constant(safe-area-inset-top);
    --ion-safe-area-bottom: constant(safe-area-inset-bottom);
    --ion-safe-area-left: constant(safe-area-inset-left);
    --ion-safe-area-right: constant(safe-area-inset-right);
  }
}

/* Support moderne pour les appareils iOS */
@supports (padding-top: env(safe-area-inset-top)) {
  :root {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
  }
}

/* Style global pour ion-content */
ion-content {
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-left);
  --padding-end: var(--ion-safe-area-right);
}
