.cards-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.font-size {
    font-size: 10px !important;    
}

.parcelle-card {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease;
}

/* Variante pour synchronisée (vert) */
.parcelle-card.synced {
  box-shadow: 0px 0px 4px 0px rgba(25, 135, 84, 0.5);
}

.parcelle-card.nosynced {
  box-shadow: 0px 0px 4px 0px rgba(135, 25, 25, 0.5);
}

.parcelle-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.parcelle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.parcelle-code {
  font-weight: 600;
  font-size: 1rem;
}

.parcelle-meta {
  font-size: 0.75rem;
  color: #666;
  margin: 1px 0px 0px 8px;
}

.parcelle-error {
  font-size: 0.75rem;
  color: var(--ion-color-danger);
  margin-left: 10px;
}

.demandeur-label {
  font-size: 0.9rem;
  margin-top: 0 !important; /* Force la suppression */
  margin-bottom: 0 !important; /* Force la suppression */
}

.ion-list {
   padding-top: 0 !important; /* Force la suppression */
   padding-bottom: 0 !important; /* Force la suppression */
}

.sync-button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
}

/* Couleurs d’arrière-plan + dents */
.bg-success.position-badge-custom-tab1 {
  background-color: green;
  color: white;
}
.bg-success.position-badge-custom-tab1::before,
.bg-success.position-badge-custom-tab1::after {
  border-top-color: green;
}

.bg-danger.position-badge-custom-tab1 {
  background-color: red;
  color: white;
}
.bg-danger.position-badge-custom-tab1::before,
.bg-danger.position-badge-custom-tab1::after {
  border-top-color: red;
}

/* Adaptations pour écrans petits */
@media (max-width: 576px) {
  .position-badge-custom-tab1 {
    right: 0.3rem;
  }
}

.my-progress-bar {
  --background: white;
  --progress-background: #0d00ff;
}

.filtre-parcelle-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.15rem;
  overflow-x: auto;
}

/* Paysage */
@media (orientation: landscape) {
  .filtre-parcelle-container {
    justify-content: center;
  }
}

/* Portrait + certaines dimensions */
@media (orientation: portrait) and (min-width: 400px) {
  .filtre-parcelle-container {
    justify-content: center;
  }
}

.cardContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}