.cards-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.font-size {
    font-size: 10px !important;    
}

.parcelle-card {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease;
}

/* Variante pour synchronisée (vert) */
.parcelle-card.synced {
  box-shadow: 0px 0px 4px 0px rgba(25, 135, 84, 0.5);
}

.parcelle-card.nosynced {
  box-shadow: 0px 0px 4px 0px rgba(135, 25, 25, 0.5);
}

.parcelle-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.parcelle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.parcelle-code {
  font-weight: 600;
  font-size: 1rem;
}

.parcelle-meta {
  font-size: 0.75rem;
  color: #666;
  margin: 1px 0px 0px 8px;
}

.parcelle-error {
  font-size: 0.75rem;
  color: var(--ion-color-danger);
  margin-top: 6px;
}

.demandeur-label {
  font-size: 0.9rem;
  margin-top: 0 !important; /* Force la suppression */
  margin-bottom: 0 !important; /* Force la suppression */
}

.ion-list {
   padding-top: 0 !important; /* Force la suppression */
   padding-bottom: 0 !important; /* Force la suppression */
}

.sync-button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
}

.position-badge-custom {
  position: absolute;
  top: 1.3rem; /* distance depuis le haut, adaptable */
  right: 0.3rem; /* distance depuis la droite, adaptable */
  font-size: 1.7em; /* taille de base, modifiable */
  padding: 5px 5px;
  z-index: 10;
  border-radius: 0px !important; /* un peu arrondi */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Dent gauche */
.position-badge-custom::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  border-left: 0 solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid; /* couleur dynamique */
}

/* Dent droite */
.position-badge-custom::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  border-left: 18px solid transparent;
  border-right: 0 solid transparent;
  border-top: 18px solid; /* couleur dynamique */
}

/* Couleurs d’arrière-plan + dents */
.bg-success.position-badge-custom {
  background-color: #198754;
  color: white;
}
.bg-success.position-badge-custom::before,
.bg-success.position-badge-custom::after {
  border-top-color: #198754;
}

.bg-danger.position-badge-custom {
  background-color: #dc3545;
  color: white;
}
.bg-danger.position-badge-custom::before,
.bg-danger.position-badge-custom::after {
  border-top-color: #dc3545;
}

/* Adaptations pour écrans petits */
@media (max-width: 576px) {
  .position-badge-custom {
    right: 0.3rem;
  }
}